%% ex: ts=4 sw=4 noexpandtab syntax=erlang

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.


{deps, [
  {bson, {git, "https://github.com/comtihon/bson-erlang.git", {tag, "v0.2.2"}}},
  {poolboy, {git, "https://github.com/emqx/poolboy.git", {tag, "1.5.2"}}}
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info, {src_dirs, ["src", "test/eunit"]}]}
    ]}
]}.
